*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(/img/cel_paiva_pericia.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: auto;
    background-position-y: 70px;
}
#navegacao img {
    width: 150px;
    padding: 10px 0 10px 10px;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

#menu .item {
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    align-self: center;
    padding: 0 10px;
}

section img {
    display: block;
    width:100%;
}


.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    
}

.cont-esquerda img{
    width: 100%;
    margin: 20px;
    display: flex;
}

.cont-esquerda{
    margin: 20px;
    width: 250px;
    display: flex;
}

.cont-direita {
    display: flex;
    margin: 20px;
    width: auto;
    height: 100px;
}

.item {
    display: flex;
    color: white;
    align-self: center;
    flex-grow: 1;
}

.apresentacao {
    height: 500px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-bottom: 300px;
    padding-top: 150px;
}

.img-logo {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 5px;

}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color:#122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #489f45;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

#nossa-historia {
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 130px;
    flex: 1;
    align-items: center;
    display: flex;
}

#nossa-historia h2 {
    font-size: 32px;
    color: #489f45;
    margin-bottom: 20px;
    text-align: center;
}

#nossa-historia h3 {
    font-size: 20px;
    color: rgb(72, 159, 69);
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

#nossa-historia p {
    width: 100%;
    color: white;
    text-align: justify;
    margin-top: 15px;
    line-height: 1.7;
}

#nossa-historia .paragrafo-historia iframe {
    max-width: 932px;
}

.historia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
}
.break {
    flex-basis: 100%;
    height: 0;
}
#nossa-historia img {
    width: 450px;
    padding: 8px;
    border-radius: 25%;
}

.paragrafo-historia {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.mapa {
    width: 100%;
    align-self: center;
}

.container-externo {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    flex-wrap: nowrap;
    align-content: center;}

#senapi {
    align-items: center;
    justify-content: space-between;
    padding-top: 250px;
    padding-bottom: 50px;
    flex: 1;
    align-items: center;
    display: flex;
}

#senapi h2{
    font-size: 32px;
    color: #489f45;
    display: flex;
    text-align: left;
    width: 350px;
}

#senapi p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    text-align: start;
    
}

.logo-senap {
    width: 800px;
    align-self: baseline;

}

.texto-senap {
    padding-left: 50px;
    text-align: left;
    color:  rgb(72, 159, 69);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#senapi .btn {
    width: auto;
}

#planos {
    padding-top: 180px;
}

#planos .flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plano {
    flex-direction: column;
    display: flex;
    align-items: center;
}

#planos p {
    color: white;
    margin-top: 15px;
    line-height: 1.7;
    max-width: 992px;
    text-align: center;
}

#planos p span {
    font-weight: bold;
}

#planos h2{
    font-size: 32px;
    color: #489f45;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

#planos img {
    width: 500px;
}

.item-plano {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 992px;
}

.item-plano .btn {
    margin: 20px 0;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    color: #489f45;
}

.item-plano h3::after {
    content: "";
    background-color: #489f45;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: left;
    color: white;
    
}

.item-plano li {
    text-align: justify;
    line-height: 1.7;
}

/* .item-plano li::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 5px;
} */

#certificacoes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
}
#certificacoes h2 {
    font-size: 40px;
    color: #489f45;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
 #certificacoes .membros {
     display: flex;
     align-items: center;
 }

 #certificacoes .certificacao {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     align-items: center;
     padding-top: 20px;
     margin-top: 50px;
     border-top: #489f45 solid;
 }

#certificacoes img {
    padding: 0 10px;
    width: 100%;
}


#faleconosco {
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-top: 180px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#faleconosco h2 {
    font-size: 32px;
    color: #489f45;
    margin-bottom: 10px;
    text-align: center;
}

#faleconosco img {
    width: 100%;
}
#faleconosco .btn {
    padding: 0;
    margin: 0;
}

/* AJUSTAR ICONES REDES SOCIAIS */
.icones-fale {
    /* display: flex; */
    /* align-items: flex-end; */
    /* border: #122A57 solid; */
    /* width: 25%; */
    align-self: center;
}

footer {
    background-color: #489f45;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: white
}

/* mobile */

@media screen and (max-width: 768px) {
    
    body {
        background-image: url(/img/cel_paiva_pericia.png);
        background-repeat: no-repeat;
        background-color: black;
        background-size: 300%;
        background-position: -250px 140px;
        background-clip: border-box;
        padding: 0 0 0 0;
        height: 100%;
    }
    
    #menu {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 100%;
        align-content: flex-start;
        height: 115px;
     }

     #menu img {
         width: 80px;
         padding: 0;
         margin: 0;
     }
    .cont-esquerda {
          height: 50px;
          width: 80px;
          margin-bottom: 0;
    }

    .cont-direita {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        margin-left: 5px;
    }

    .item {
        text-align: center;
        padding: 0;
        border: 0;
        font-size: 80%;
    }

    .btn {
        background-color: #489f45;
        color: white;
        text-align: center;
        border-radius: 30px;
        width: 120px;
        display: block;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 15px;
    }

    #inicio {
        height: 500px;
        width: 100%;
        display: flex;
        /* align-items: center; */
    }

    .flex-container {
        display: flex;
        max-width: 992px;
        margin: 0;
        width: 100%;
        
    }

    #inicio img {
        width: 105%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .apresentacao {
        height: 100%;
        align-items: center;
        display: flex;
        padding-bottom: 100px;
    }
    
    /* .container-externo {
        display: flex;
        max-width: 992px;
        margin: auto;
        width: 100%;
        min-width: 320px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    
    #senapi h2{
        font-size: 32px;
        color: #489f45;
    }
    
    #senapi p {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 20px;
        color: white;
        text-align:left;
    }
    
    .logo-senap {
        width: 90%;
        margin-bottom: 15px;
        align-self: center;
    
    }
    
    .texto-senap {
        padding-left: 0px;
        margin-left: 5px;
        margin-right: 5px;
        color:  rgb(72, 159, 69);
        display: flex;
    } */


    #nossa-historia {
        align-items: center;
        justify-content: space-between;
        margin-top: 350px;
        padding-bottom: 130px;
        flex: 1;
        align-items: center;
        display: flex;
    }

    #nossa-historia .flex-container .historia {
        display: flex;
        max-width: 992px;
        margin: 0;
        width: 100%;        
    }
    
    #nossa-historia h2 {
        font-size: 32px;
        color: #489f45;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #nossa-historia h3 {
        font-size: 20px;
        color: rgb(72, 159, 69);
        margin-bottom: 20px;
        font-style: italic;
        text-align: center;
    }
    
    #nossa-historia p {
        width: 100%;
        color: white;
        text-align: justify;
    }
    
    .historia {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        width: 100%;
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
    #nossa-historia img {
        width: 95%;
        padding: 8px;
        border-radius: 25%;
    }
    
    #nossa-historia .flex-container .paragrafo-historia .historia {
        max-width: 100%;
    }
    .paragrafo-historia {
        width: 100%;
        text-align: justify;
        margin: 0 0 0 0; 
        display: flex;
        flex-direction: column;
    }

    #planos {
        display: flex;
    }

    #planos p, span {
        color: white;
        margin-top: 15px;
        line-height: 1.7;
        margin-left: 10px;
        margin-right: 15px;
        max-width: 990px;
        text-align: center;
    }

    .plano {
        flex-direction: column;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
    }
    
    
    #plano h2{
        font-size: 32px;
        color: #489f45;
        display: flex;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    
    #planos img {
        width: 98%;
        padding-right: 0px;
        margin-left: 0px;
    }
     
    .item-plano {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        max-width: 992px;
        
    }

    #planos .plano .flex-container {
        display: flex;
        text-align: justify;
        max-width: 990px;
    }

    .item-plano .btn {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
    }
    
    .item-plano h3::after {
        content: "";
        background-color: #489f45;
        width: 100%;
        height: 3px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .item-plano ul {
        display: flex;
        color: #489f45;
        padding: 10px 20px;
        flex-direction: column;
        margin-bottom: 10px;
        align-self: center;
        
    }
    
    .item-plano li {
        text-align: justify;
        max-width: 990px;
        color: #fff;
    }

    #certificacoes {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    #faleconosco {
        /* align-items: center; */
        /* justify-content: space-between; */
        padding-top: 100px;
        padding-bottom: 200px;
        /* align-items: center; */
        display: flex;
        /* flex-wrap: wrap; */
        /* flex-direction: column; */
    }
    
    #faleconosco h2 {
        font-size: 32px;
        color: #489f45;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    
    #faleconosco img {
        width: 105%;
        padding-right: 0px;
        margin-left: 0px;
    }

    .icones-fale {
        padding-top: 10px;
        /* width: 65%; */
        align-items: center;
    }

    footer {
        background-color: #489f45;
        height: 70px;
        display: flex;
        align-items: center;
        width: 105%;
    }
    
    footer .footer {
        justify-content: space-between;
        color: white;
    }

    footer .flex-container {
        width: 90%;
        margin-left: 20px;
    }

}